@import "hamburger";

$base_size: 16;
@mixin fz($px_size){
    font-size: ($px_size/$base_size)+rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html,
body {
    width: 100%;
    height: 100%;
}
body{    
    font-family: "Aleo";
    font-size: 1rem;
    min-width: 350px;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    &:focus {
        border: 1px solid transparent;
    }
}
img {
    vertical-align: top; 
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}
.btn {
    color: #fff;
    background-color: #5474fd;
    font-family: "Aleo";
    font-weight: 400;
    width: 225px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 26px;
    border: none;
    letter-spacing: 2px;
    background-image: linear-gradient(45deg, #496bfe 50%, transparent 50%);
    background-position: 55%;
    background-size: 400%;
    transition: all .5s ease-in-out;
    &:hover {
        background-position: 0;
    }       
    &:focus {
        border: 1px solid transparent;
    }    
}

.header_section {    
    background-color: #5474fd;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: calc(100vh - 175px);
    height: calc(100vh - 80px);
    padding: 260px 0 0 0;    
    .header_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;                
        .header_logo {
            width: 28.3783%;
            height: 40px;
            margin-bottom: 15px;
        }
        .subtext {
            color: #fff;
            @include fz(22);
            font-family: "Josefin Sans";
            font-weight: 400;
            line-height: 26px;
            text-transform: capitalize;
            margin-bottom: 45px;
            letter-spacing: 5px;
        }
        .search_form {
            display: flex;
            margin-bottom: 115px;
            .search-form_textarea {
                width: 500px;
                height: 60px;
                font-family: "Josefin Sans";
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 2px;
                text-transform: capitalize;
                color: #999999;
                text-align: center;
                border: 2px solid #fff;
                outline: none;                
            }
            .btn_small {
                color: #fff;
                background-color: #5474fd;
                font-family: "Aleo";
                font-weight: 400;                
                width: 150px;
                height: 60px;
                cursor: pointer;
                text-transform: uppercase;                
                border: none;                  
                border: 2px solid #fff;
                @include fz(14);
                line-height: 26px;
                padding-left: 10px;
                letter-spacing: .8px; 
                .btn_search {
                    width: 24px;
                    height: 24px;
                    fill: #fff;
                    margin-left: 15px;
                    vertical-align: middle;
                }
                &:hover {
                    background-color: #496bfe;
                    .btn_search {
                        width: 35px;
                        height: 35px;
                    }
                }             
            }
        }
        .header_text {
            text-transform: capitalize;
            color: #fff;
            font-family: "Josefin Sans";
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 2px;
            position: relative;
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                bottom: -15px;
                transform: rotate(45deg);
            }
        }
    }
}

.menu {
    background-color: #5474fd;
    height: 80px;
    .menu_container {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;              
        .menu_logo {
            width: 14%;            
        }
        #main_menu {
            width: 47.5%;            
            .menu_list {
                display: flex;            
                justify-content: space-between;                
                .menu_list-item {                                                     
                    a {
                        color: #fff;
                        @include fz(14);
                        text-transform: uppercase;
                        line-height: 26px;
                        width: 100%;
                        height: 100%;
                        padding: 32px 10px;
                        transition: all .5s ease;
                        &:hover {                            
                            background:radial-gradient(ellipse at 50% 50%, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 80%);
                            border-radius: 50px;
                        }                      
                                                              
                    }
                }
            }
        }
    }
}

#hamburger_menu {
    display: none;    
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: #fff;
}

#page_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
    z-index: 999;
    backdrop-filter: blur(5px);
}
#mobile_menu_wrap {
    position: fixed;
    top: 0;
    left: -500px;
    background-color: #5474fd;    
    height: 100vh;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px #000;    
    transition: all .4s ease;
    z-index: 1000;
    padding-left: 10px;    
    &.top {
        max-width: 100%;
        height: auto;
        min-height: 200px;
    }
    img {
        width: 240px;
        height: 40px;
        padding-top: 10px;
    }
}
.sidemenu_top {
    padding: 10px;    
    display: flex;
    justify-content: space-between;
    text-align: center;    
}
.sidemenu {
    li {
        border-bottom: 1px solid #fff;
        a {
            display: inline-block;
            padding: 15px;            
            @include fz(20);            
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            color: #fff;

        }
    }
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #fff;
}

.open {
    #page_overlay {
        display: block;
    }
    #mobile_menu_wrap {
        left: 0;
    }
    #hamburger--spring .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg); }
    #hamburger--spring .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0; }
    #hamburger--spring .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg); }
        
}


.choose {    
    background-color: #ccc;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
    padding: 120px 0 95px 0;                  
    .content_wrapper {                     
        display: grid;
        grid-template-columns: 57% 10% 23% 10%;
        grid-template-rows: 1fr 1fr;
        gap: 5px;            
       .text_block {
           color: #fff;
            grid-area: span 2 / span 1;
            padding: 85px 70px 0 0;
            h2 {
                @include fz(36);
                line-height: 26px;
                text-transform: capitalize;
                margin-bottom: 65px;
            }
            p {
                font-family: "Josefin Sans";                
                line-height: 26px;
                margin-bottom: 25px;
                letter-spacing: .7px;                                
            }
            .last {
                margin-bottom: 45px;
            }                     
        }
        .pic_block-first {
            grid-area: 1 / 2 / 2 / 4;
        }
        .pic_block:last-child {
            grid-area: 2 / 3 / 3 / 5;
        }    
    }
}
    
.icons {
    background-color: #333333;
    padding: 100px 0 115px 0;
    .icons_list {
        display: flex;
        justify-content: space-around;                
        .icons_list-item {
            position: relative;
            .circle {
                position: absolute;
                width: 120%;
                top: -80%;                
            }
            .search_circle {
                left: 65%;
            }
            .check_circle {
                left: 70%;
            }
                                  
            // &:not(:last-child):after {
            // content: '';
            // width: 100%;
            // height: 80%;
            // border-top: 1.5px dotted #fff;
            // border-radius: 50%;
            // position: absolute;
            // z-index: 20;
            // top: -35%;
            // left: 85%;           
            // }

            a {
                color: #fff;
                @include fz(36);
                line-height: 26px;
                text-transform: capitalize;
                text-align: center;
                .ic {
                    width: 70px;
                    height: 70px;
                    display: block;
                    margin: 0 auto 30px; 
                }                                          
                .search {                   
                    fill: #5474fd;                                                
                }
                .check {                    
                    fill: #de5b5b;                    
                }
                .like {                    
                    fill: #00a2ff;                    
                }                   
            }
           .search_text:hover {
            color: #496bfe;
                .ic {
                    fill: #fff;
                }
           }
           .check_text:hover {
               color: #de5b5b;
               .ic {
                fill: #fff;
                }
           }
           .like_text:hover {
               color: #00a2ff;
               .ic {
                fill: #fff;
                }
           } 
        }
    }
}

.content_block {
    background-color: #242122;
    opacity: .9;
    width: 49%;
    padding: 45px 30px;
    font-family: "Josefin Sans";
    color: #fff;
    h3 {
        @include fz(20);            
        line-height: 26px;
        margin-bottom: 25px;            
    }
    h2 {
        @include fz(20);
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: -1px; 
    }
    p {
        margin-bottom: 40px;
        line-height: 26px;
        letter-spacing: -1px;
    }        
}
.content_block-left {    
    background-color: #f7c7c7;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0 105px 0;        
}
.content_block-rigth {   
    background-color: #f7c7c7;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0 105px 0;    
    .container_block-right {
        display: flex;
        justify-content: flex-end;
    }
}

.rewiev{    
    background-color: #999999;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
    padding: 115px 0 200px 0;
    .rewiev_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .rewiev_title {
            color: #fff;
            @include fz(24);
            line-height: 26px;
            text-transform: capitalize;
            margin-bottom: 100px;
        }
        .rewiev_content {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 1fr;
            .rewiev_text {
                background-color: #333333;
                padding: 50px 10px 0 60px;
                color: #fff;
                font-family: "Josefin Sans";
                position: relative;
                h3 {
                    @include fz(18);
                    text-transform: uppercase;
                    line-height: 26px;
                    margin-bottom: 35px;
                }
                .icon-quote-left {
                    position: absolute;
                    color: #506be2;
                    @include fz(20);
                    left: 8%;
                    top: 35%;
                }
                p {
                    line-height: 26px;                    
                    text-indent: 30px;
                    letter-spacing: -0.8px;                                        
                }
            }
        }
    }
}

footer {
    background-color: #232323;    
    padding: 120px 0 60px 0;
    color: #fff;
    .footer_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_logo {
            width: 165px;
            margin-bottom: 10px;            
        }
        .footer_text {
            font-family: "Josefin Sans";
            line-height: 26px;
            letter-spacing: 1px;
            margin-bottom: 20px;  
        }
        .networks {
            width: 180px;        
            .networks_list {
                display: flex;
                justify-content: space-between;                                    
                .networks_list-item {
                    display: inline-block;
                    width: 100%;            
                    a {
                        color: #fff;
                        width: 100%;
                        
                    &:hover {
                        color: #5474fd;
                        }
                    }
                }
            }
        }
    } 
}