/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  -o-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
  -o-transition-delay: 0.22s;
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Aleo";
  font-size: 1rem;
  min-width: 350px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  border: 1px solid transparent;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #5474fd;
  font-family: "Aleo";
  font-weight: 400;
  width: 225px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 26px;
  border: none;
  letter-spacing: 2px;
  background-image: -o-linear-gradient(45deg, #496bfe 50%, transparent 50%);
  background-image: linear-gradient(45deg, #496bfe 50%, transparent 50%);
  background-position: 55%;
  background-size: 400%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-position: 0;
}
.btn:focus {
  border: 1px solid transparent;
}

.header_section {
  background-color: #5474fd;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  padding: 260px 0 0 0;
}
.header_section .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.header_section .header_container .header_logo {
  width: 28.3783%;
  height: 40px;
  margin-bottom: 15px;
}
.header_section .header_container .subtext {
  color: #fff;
  font-size: 1.375rem;
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 45px;
  letter-spacing: 5px;
}
.header_section .header_container .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 115px;
}
.header_section .header_container .search_form .search-form_textarea {
  width: 500px;
  height: 60px;
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #999999;
  text-align: center;
  border: 2px solid #fff;
  outline: none;
}
.header_section .header_container .search_form .btn_small {
  color: #fff;
  background-color: #5474fd;
  font-family: "Aleo";
  font-weight: 400;
  width: 150px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border: 2px solid #fff;
  font-size: 0.875rem;
  line-height: 26px;
  padding-left: 10px;
  letter-spacing: 0.8px;
}
.header_section .header_container .search_form .btn_small .btn_search {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 15px;
  vertical-align: middle;
}
.header_section .header_container .search_form .btn_small:hover {
  background-color: #496bfe;
}
.header_section .header_container .search_form .btn_small:hover .btn_search {
  width: 35px;
  height: 35px;
}
.header_section .header_container .header_text {
  text-transform: capitalize;
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
  position: relative;
}
.header_section .header_container .header_text:after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  bottom: -15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  background-color: #5474fd;
  height: 80px;
  width: 100%;
  z-index: 10;
}
.menu .menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.menu .menu_container .menu_logo {
  width: 14%;
}
.menu .menu_container #main_menu {
  width: 47.5%;
}
.menu .menu_container #main_menu .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu .menu_container #main_menu .menu_list .menu_list-item a {
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 26px;
  width: 100%;
  height: 100%;
  padding: 32px 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu .menu_container #main_menu .menu_list .menu_list-item a:hover {
  background: -o-radial-gradient(50% 50%, ellipse, #00ffeb 0%, #073abb 80%);
  background: radial-gradient(ellipse at 50% 50%, #00ffeb 0%, #073abb 80%);
  border-radius: 50px;
}

#hamburger_menu {
  display: none;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

#page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#mobile_menu_wrap {
  position: fixed;
  top: 0;
  left: -500px;
  background-color: #5474fd;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1000;
  padding-left: 10px;
}
#mobile_menu_wrap.top {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
#mobile_menu_wrap img {
  width: 240px;
  height: 40px;
  padding-top: 10px;
}

.sidemenu_top {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.sidemenu li {
  border-bottom: 1px solid #fff;
}
.sidemenu li a {
  display: inline-block;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #fff;
}

.open #page_overlay {
  display: block;
}
.open #mobile_menu_wrap {
  left: 0;
}
.open #hamburger--spring .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.open #hamburger--spring .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.open #hamburger--spring .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.choose {
  background-color: #ccc;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
  box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
  padding: 120px 0 95px 0;
}
.choose .content_wrapper {
  display: grid;
  grid-template-columns: 57% 10% 23% 10%;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.choose .content_wrapper .text_block {
  color: #fff;
  grid-area: span 2/span 1;
  padding: 85px 70px 0 0;
}
.choose .content_wrapper .text_block h2 {
  font-size: 2.25rem;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 65px;
}
.choose .content_wrapper .text_block p {
  font-family: "Josefin Sans";
  line-height: 26px;
  margin-bottom: 25px;
  letter-spacing: 0.7px;
}
.choose .content_wrapper .text_block .last {
  margin-bottom: 45px;
}
.choose .content_wrapper .pic_block-first {
  grid-area: 1/2/2/4;
}
.choose .content_wrapper .pic_block:last-child {
  grid-area: 2/3/3/5;
}

.icons {
  background-color: #333333;
  padding: 100px 0 115px 0;
}
.icons .icons_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.icons .icons_list .icons_list-item {
  position: relative;
}
.icons .icons_list .icons_list-item .circle {
  position: absolute;
  width: 120%;
  top: -80%;
}
.icons .icons_list .icons_list-item .search_circle {
  left: 65%;
}
.icons .icons_list .icons_list-item .check_circle {
  left: 70%;
}
.icons .icons_list .icons_list-item a {
  color: #fff;
  font-size: 2.25rem;
  line-height: 26px;
  text-transform: capitalize;
  text-align: center;
}
.icons .icons_list .icons_list-item a .ic {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto 30px;
}
.icons .icons_list .icons_list-item a .search {
  fill: #5474fd;
}
.icons .icons_list .icons_list-item a .check {
  fill: #de5b5b;
}
.icons .icons_list .icons_list-item a .like {
  fill: #00a2ff;
}
.icons .icons_list .icons_list-item .search_text:hover {
  color: #496bfe;
}
.icons .icons_list .icons_list-item .search_text:hover .ic {
  fill: #fff;
}
.icons .icons_list .icons_list-item .check_text:hover {
  color: #de5b5b;
}
.icons .icons_list .icons_list-item .check_text:hover .ic {
  fill: #fff;
}
.icons .icons_list .icons_list-item .like_text:hover {
  color: #00a2ff;
}
.icons .icons_list .icons_list-item .like_text:hover .ic {
  fill: #fff;
}

.content_block {
  background-color: #242122;
  opacity: 0.9;
  width: 49%;
  padding: 45px 30px;
  font-family: "Josefin Sans";
  color: #fff;
}
.content_block h3 {
  font-size: 1.25rem;
  line-height: 26px;
  margin-bottom: 25px;
}
.content_block h2 {
  font-size: 1.25rem;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.content_block p {
  margin-bottom: 40px;
  line-height: 26px;
  letter-spacing: -1px;
}

.content_block-left {
  background-color: #f7c7c7;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0 105px 0;
}

.content_block-rigth {
  background-color: #f7c7c7;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0 105px 0;
}
.content_block-rigth .container_block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.rewiev {
  background-color: #999999;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
  box-shadow: inset 0 0 0 2000px rgba(51, 51, 51, 0.8);
  padding: 115px 0 200px 0;
}
.rewiev .rewiev_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rewiev .rewiev_container .rewiev_title {
  color: #fff;
  font-size: 1.5rem;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.rewiev .rewiev_container .rewiev_content {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}
.rewiev .rewiev_container .rewiev_content .rewiev_text {
  background-color: #333333;
  padding: 50px 10px 0 60px;
  color: #fff;
  font-family: "Josefin Sans";
  position: relative;
}
.rewiev .rewiev_container .rewiev_content .rewiev_text h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 26px;
  margin-bottom: 35px;
}
.rewiev .rewiev_container .rewiev_content .rewiev_text .icon-quote-left {
  position: absolute;
  color: #506be2;
  font-size: 1.25rem;
  left: 8%;
  top: 35%;
}
.rewiev .rewiev_container .rewiev_content .rewiev_text p {
  line-height: 26px;
  text-indent: 30px;
  letter-spacing: -0.8px;
}

footer {
  background-color: #232323;
  padding: 120px 0 60px 0;
  color: #fff;
}
footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .footer_content .footer_logo {
  width: 165px;
  margin-bottom: 10px;
}
footer .footer_content .footer_text {
  font-family: "Josefin Sans";
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
footer .footer_content .networks {
  width: 180px;
}
footer .footer_content .networks .networks_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .footer_content .networks .networks_list .networks_list-item {
  display: inline-block;
  width: 100%;
}
footer .footer_content .networks .networks_list .networks_list-item a {
  color: #fff;
  width: 100%;
}
footer .footer_content .networks .networks_list .networks_list-item a:hover {
  color: #5474fd;
}