
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
